.filterButton {
  border-radius: 25px;
  background-color: #fff;
  border-color: hsl(13, 26%, 36%);
  color: #57423f;
  transition: 0.3s ease;
  &:hover {
    background-color: #57423f;
    border-color: #57423f;
    color: #fff;
    font-size: 1rem;
  }
  &:active {
    background-color: #57423f !important;
    border-color: #57423f !important;
  }
}

.filterButtonSelected {
  border-radius: 25px;
  background-color: #57423f;
  border-color: #57423f;
  color: #fff;
  font-size: 1rem;
  transition: 0.3s ease;
  &:hover {
    background-color: #57423f;
    border-color: #57423f;
  }
}
